# Ignore executables:
virus_gencor
virus_gencor_tauleap

# Ignore object files:
*.o

# Ignore tags file:
tags

# Ignore data files:
*.txt
*.h5

# Ignore config files:
*.cfg

# Ignore lyx backup files:
*.lyx~

# Ignore PDFs - they should be in manuscript repo.
*.pdf

# Ignore Eclipse stuff:
.metadata
.project
.cproject
Release
Debug

# Ignore subversion cruft:
.svn
